<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressJS Template</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <main>
        <article>
            <header>
                <h1>Node.js Express.js Template</h1>
                <p>This is a Node.js Express.js template</p>
                <figure>
                    <img src="img/header.jpeg" alt="header" width="6722" height="2100">
                </figure>
            </header>
            <section>
                <div>
                    <form action="">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </section>
        </article>

        <article>
            <header>
                <h1>Express.js Template API</h1>
                <p>This is a Express.js API template with one Page.</p>
                <figure>
                    <img src="img/header.jpeg" alt="header" width="6722" height="2100">
                </figure>
            </header>
            <section>
                <div>
                    <ul>
                        <li><a href="/api">Home | API</a></li>
                        <li><a href="/api/users">Users | API</a></li>
                        <li><a href="/api/products">Products | API</a></li>
                        <li><a href="/api/categories">Categories | API</a></li>
                        <li><a href="/api/languages">Languages | API</a></li>
                        <li><a href="/api/documentation">Documentation | API</a></li>
                    </ul>
                </div>
                <div>
                    <h2>Home | API Explain</h2>
                    <p></p>
                </div>
                <div>
                    <h2>Users | API Explain</h2>
                    <p></p>
                </div>
                <div>
                    <h2>Products | API Explain</h2>
                    <p></p>
                </div>
                <div>
                    <h2>Categories | API Explain</h2>
                    <p></p>
                </div>
                <div>
                    <h2>Languages | API Explain</h2>
                    <p></p>
                </div>
                <div>
                    <h2>Documentation | API Explain</h2>
                    <p></p>
                </div>
            </section>
        </article>
    </main>
</body>
</html>