<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Express.js Template</title>
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
            <form>
                <input type="text" placeholder="Search">
                <button type="submit" action="search-item">Search</button>
            </form>
        </nav>
        <section>
            <h1>Express.js Template</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quidem.</p>
            <img src="assets/img/header.jpg" alt="Header">
        </section>
    </header>

    <main></main>

    <footer>
        <section class="footer-socials">
            <!-- Instagram -->
            <a href="">
                <svg></svg>
            </a>
            <!-- TikTok -->
            <a href="">
                <svg></svg>
            </a>
            <!-- YouTube -->
            <a href="">
                <svg></svg>
            </a>
            <!-- Twitch -->
            <a href="">
                <svg></svg>
            </a>
            <!-- GitHub -->
            <a href="">
                <svg></svg>
            </a>
            <!-- Discord -->
            <a href="">
                <svg></svg>
            </a>
            <!-- LinkedIn -->
            <a href="">
                <svg></svg>
            </a>
            <!-- WhatsApp -->
            <a href="">
                <svg></svg>
            </a>
        </section>
        <p>2024 &copy; <a href="https://github.com/VectoDE">Vecto.</a> | All rights reserved.</p>
    </footer>

    <script href="assets/js/script.js"></script>
</body>
</html>