<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Express.js Template</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 783px)" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="img/logo.png" alt="logo">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div>
            <figure>
                <img src="img/header.jpeg" alt="header" width="6722" height="2100">
            </figure>
            <h1>Node.js Express.js Template</h1>
            <p>This is a Node.js Express.js template</p>
        </div>
    </header>

    <main>
        <section>
            <div>
                <figure>
                    <img src="img/header.jpeg" alt="log">
                    <figcaption>Log</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore iusto ipsum. Eveniet dolorum temporibus modi, aperiam numquam vitae? Eos, ducimus ex minus eveniet culpa necessitatibus explicabo deserunt quae quam nulla, doloribus cum inventore asperiores earum sit nesciunt velit! Magni est totam non facilis repudiandae dolores reiciendis voluptatum quibusdam accusantium!</p>
            </div>
            <div>
                <figure>
                    <img src="img/header.jpeg" alt="log">
                    <figcaption>Log</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore iusto ipsum. Eveniet dolorum temporibus modi, aperiam numquam vitae? Eos, ducimus ex minus eveniet culpa necessitatibus explicabo deserunt quae quam nulla, doloribus cum inventore asperiores earum sit nesciunt velit! Magni est totam non facilis repudiandae dolores reiciendis voluptatum quibusdam accusantium!</p>
            </div>
            <div>
                <figure>
                    <img src="img/header.jpeg" alt="log">
                    <figcaption>Log</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore iusto ipsum. Eveniet dolorum temporibus modi, aperiam numquam vitae? Eos, ducimus ex minus eveniet culpa necessitatibus explicabo deserunt quae quam nulla, doloribus cum inventore asperiores earum sit nesciunt velit! Magni est totam non facilis repudiandae dolores reiciendis voluptatum quibusdam accusantium!</p>
            </div>
            <div>
                <figure>
                    <img src="img/header.jpeg" alt="log">
                    <figcaption>Log</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore iusto ipsum. Eveniet dolorum temporibus modi, aperiam numquam vitae? Eos, ducimus ex minus eveniet culpa necessitatibus explicabo deserunt quae quam nulla, doloribus cum inventore asperiores earum sit nesciunt velit! Magni est totam non facilis repudiandae dolores reiciendis voluptatum quibusdam accusantium!</p>
            </div>
        </section>
    </main>

    <footer>
        <p>2024 &copy; <a href="">Vecto.</a> | All rights reserved.</p>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>