<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title ? `${title} · ${app.name}` : app.name %></title>
<meta name="description" content="Vollständiges Enterprise Express.js Template mit gesicherter API und moderner Weboberfläche." />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><rect width='128' height='128' rx='24' ry='24' fill='%23002640'/><text x='50%' y='58%' font-size='72' text-anchor='middle' fill='white' font-family='Segoe UI,Helvetica,Arial,sans-serif'>EX</text></svg>" />
